<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <!-- 以下页面不被拦截,根目录下的页面不用拦截，拦截的是admin中的 -->
    <http pattern="/*.html" security="none"></http>
    <http pattern="/css/**" security="none"></http>
    <http pattern="/img/**" security="none"></http>
    <http pattern="/js/**" security="none"></http>
    <http pattern="/plugins/**" security="none"></http>
    <!-- 页面拦截规则,
    /**包括根目录及其目录下的所有资源
    /*表示根目录的资源，
    与web.xml中不一样，use-expressions表示是否启动SPEL表达式，默认是true-->
    <http use-expressions="false">
        <!--这里必须由ROLE_开头，表示当前用户必须有ROLE_USER的角色才可以访问根目录及其目录下的所有资源-->
        <intercept-url pattern="/**" access="ROLE_ADMIN"/>
        <!--开启表单登录功能-->
<!--always-use-default-target：指定了是否在身份验证通过后总是跳转到default-target-url属性指定的URL。
    这里表示身份验证后会跳到/admin/index.html这个页面-->
        <form-login login-page="/login.html" default-target-url="/admin/index.html"
                    authentication-failure-url="/login.html" always-use-default-target="true"/>
        <csrf disabled="true"/>
        <headers>
            <!--使其允许使用iframe框架页-->
            <frame-options policy="SAMEORIGIN"/>
        </headers>
        <logout/>
    </http>

    <!-- 认证管理器 -->
    <authentication-manager>
        <authentication-provider>
            <user-service>
                <user name="admin" password="123456" authorities="ROLE_ADMIN"/>
            </user-service>
        </authentication-provider>
    </authentication-manager>
</beans:beans>
